<div
  class="flex justify-end sm:justify-between items-center py-8 px-6 sm:px-48 fixed w-full backdrop-blur-sm select-none"
>
  <div class="font-black text-2xl text-[#C8D1DF] hidden sm:block">NISH</div>
  <div class="flex items-center sm:gap-10 gap-4 text-mpurple font-medium">
    <a href="/faq">FAQ</a>
    <a href="/projects">Projects</a>
    <a href="/blog">Blog</a>
    <a href="/github">Github</a>
  </div>
</div>
